.EditWorkoutMainDiv{
    background-color: rgb(255, 255, 255);
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.column {
  width: 48%;
  border: 1px solid #ccc;
  padding: 5px;
}
