:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;

  color-scheme: light dark;
  color: rgb(255, 254, 254);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.site-title {
  color: #e21818;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  text-decoration: none;
}

.navul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
  text-decoration: none;
}

.nava {
  color: #e21818;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.navul .nava:hover {
  text-decoration: none;
  color: #ffdd83;
}

.navul .nava {
  transition: color 0.3s ease;
}

.background {
  color: #ffdd83;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}

.page-header {
  color: #00234b;
  font-weight: bold;
  font-size: 1.8rem;
}

.regtext {
  color: #ffdd83;
  font-size: 1.4rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}
