* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: #00234B;
    color: #E21818;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0;
    margin-left: 0;
}

.site-title {
    color: #E21818;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    text-decoration: none;
}

.navul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
    text-decoration: none;
}

.nava {
    color: #E21818;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .50rem;
}

.navul .nava:hover {
    text-decoration: none;
    color: #FFDD83;
}

.navul .nava {
    transition: color 0.3s ease;
}

.background {
    background-image: url("https://us.123rf.com/450wm/andreyzaretsky/andreyzaretsky1712/andreyzaretsky171200042/91679883-huge-man-is-preparing-to-perform-an-exercise-called-deadlift-mixed-media.jpg?ver=6");
    color: #FFDD83;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

.page-header {
    color: #00234B;
    font-weight: bold;
    font-size: 1.8rem;
}

.regtext {
    color: #FFDD83;
    font-size: 1.4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
