* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: #00234B;
    color: #E21818;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    color: #E21818;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

.navul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
    text-decoration: none;
}

.nava {
    color: #E21818;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.navul .nava:hover {
    text-decoration: none;
    color: #FFDD83;
}

.navul .nava {
    transition: color 0.3s ease;
}
